# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. r
3. javascript

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. matplot

| Data Science Tools |
|-------------------|
| Jupyter Notebook  |
| RStudio           |
| VS Code           |

### Below are a few examples of evaluating arithmetic expressions in Python

Arithmetic expressions in Python involve various mathematical operations that can be performed using basic arithmetic operators. Here are some examples:

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Understand the basics of Jupyter Notebook and its usage in Data Science.
- Introduce common data manipulation libraries like Pandas.
- Demonstrate how to create visualizations using Matplotlib and Seaborn.
- Provide an overview of fundamental machine learning algorithms.

Feel free to review these objectives as a quick summary of the key takeaways from this notebook.

## Author

Angel Zambrano